<div>
  <h3>Просмотр чужих работ</h3>
  <div class="description">На этой странице вы можете просмотреть уже написанные работы</div>
  <table id="table">
    <tr *ngFor="let pageWork of works">
      <td>
        <div class="work" (click)="onWorkClick(pageWork.work.workId)">
          <div class="title">
            <h4>{{pageWork.work.title}}</h4>
            <h5> Автор: {{ pageWork.details.screenName }}</h5>
            <h5>Рейтинг работы: {{pageWork.work.rating}}</h5>
          </div>
          <div class="text">Работа: {{pageWork.work.text}}</div>
        </div>
      </td>
    </tr>
  </table>
</div>
