<div class="header">
  <div class="site-info">
    <img src="assets/resources/menu.png" width="50px" height="50px">
    <div class="logo">LTS</div>
    <div class="name">Language_Training</div>
  </div>
  <div *ngIf="!auth.isAuthenticated()" class="user-info">Вы не авторизованы</div>
  <div *ngIf="auth.isAuthenticated()" class="user-info">{{user.username}}</div>

  <div class="btn" *ngIf="!auth.isAuthenticated()">
    <a routerLink="/auth"> <button  type="button">Войти</button> </a>
  </div>

  <div class="btn" *ngIf="auth.isAuthenticated()">
     <button  type="button" (click)="logout()">Выйти</button>
  </div>

  <!--<img src="assets/resources/lk.png" id="lk" width="40px" alt="лк"/>-->

</div>
