#watch-work{
  position: relative;
  margin-left: 325px;
  margin-top: -270px;
}
.landing_elements{
  font-family:monospace;
  font-size:15px;
  font-weight:500;
  height: 150px;
  width: 150px;
  margin-top: 75px;
  margin-left: 75px;
  text-align:center;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background-color:#d1cfe3;
  color:darkslategrey;
}
