.text{
  margin-top:70px;
  font-size: 20px;
  font-weight: 500;
  height: 70px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
  padding-top: 30px;
}
.button{
  margin-left:1130px;
  background-color:#d1cfe3;
  margin-top:8px;
}
.text-input{
  width:500px;
  height:400px;
  margin-left:35%;
}
#text{
margin-top:10px;
}
#topic{
  margin-top: 30px;
  height:50px;
}
#send-button{
  margin-left:50px;
}
