#topic, #work, #mark {
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
  width: 80%;
  margin-left: 100px;
}

#work {
  margin-top: 50px;
  height: 200px;
}

#topic {
  height: 50px;
}

#comment {
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
  width: 80%;
  margin-left: 100px;
  margin-top: 30px;
  height: 70px;
}

#send {
  border-radius: 15px;
  background-color: #d1cfe3;
  border-color: mediumpurple;
  color: darkslategrey;
  height: 40px;
  margin-left: 1020px;
  margin-top: 3px;
}
