<form id="form">
  <div class="container">
    <h2>Регистрация</h2>
    <p><a href="/auth">Авторизация</a></p>
    <p> <label for="surname">Фамилия</label></p>
    <input type="text" placeholder="" id="surname" required>

    <p><label for="name">Имя</label></p>
    <input type="text" placeholder="" id="name" required>

    <p><label for="father">Отчество</label></p>
    <input type="text" placeholder="" id="father" required>

    <p><label for="login">Логин</label></p>
    <input type="text" placeholder="" id="login" required>

    <p><label for="email">E-mail</label></p>
    <input type="text" placeholder="" id="email" required>

    <p><label for="password">Пароль</label></p>
    <input type="password" placeholder="" id="password" required>

    <div> <button class="buttons">Зарегистрироваться</button></div>
  </div>
</form>
