.landing_elements{
  font-family:monospace;
  font-size:15px;
  font-weight:500;
  height: 150px;
  width: 150px;
  margin-top: 75px;
  margin-left: 75px;
  text-align:center;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background-color:#d1cfe3;
  color:darkslategrey;
}
#hello{
  height:50px;
  width:100%;
  text-align: center;
  margin-top:15px;
  font-family:monospace;
  font-size:20px;
  font-weight:500;
  color:darkslategrey;
}
.container{
  height:90.9%;
  width:93.9% ;
}
