#button {
  border-radius: 15px;
  background-color: #d1cfe3;
  border-color: mediumpurple;
  color: darkslategrey;
  height: 40px;
  margin-left: 620px;
  margin-top: 25px;
}

#header {
  text-align: center;
  margin-top:10%;
}

#themes {
  text-align: center;
  font-size: 25px;
}

#submit {
  border-radius: 15px;
  background-color: #d1cfe3;
  border-color: mediumpurple;
  color: darkslategrey;
  height: 40px;
  margin-top: 25px;
  margin-left: 5px;
}

#title {
  font-size: 20px;
}

#text {
  font-size: 40px;
}
