<div *ngIf="route.children.length === 0">
  <div>
    <h2 id="header">Темы форума</h2>
  </div>
  <div id="themes" *ngFor="let theme of themes">
    <a [routerLink]="['/forum/theme', theme.id]"> {{theme.title}} </a>
  </div>
  <div>
    <button id='button' (click)="showForm=true">Добавить тему</button>
    <div *ngIf="showForm">
      <form [formGroup]="form" (ngSubmit)="addTheme()">
        <label text-size="40px" for="title"></label>
        Название темы: <input id="title" formControlName="themeTitle">
        <button id="submit" type="submit">Создать</button>
      </form>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
