<form [formGroup]="form" (ngSubmit)="submitMessage()">
  <div class="messages">
    <table>
      <tr *ngFor="let message of theme.messages">
        <td>
          <quill-view-html [content]="message.text"></quill-view-html>
        </td>
        <td>{{message.date | date:'medium':null:'ru'}}</td>
        <td>
          <table>
            <!--tr class="data" *ngFor="let answer of message.answers">
              <td>{{answer.text}}</td>
              <td>{{answer.date | date: 'medium': null: 'ru' }}</td>
            </tr-->
          </table>
        </td>
        <!--td>
          <button  class="buttons" type="button" (click)="showAnswerField(message.id)">Ответить</button>

          <div *ngIf="message.id == answer">
            <label for="answer">Введите ответ</label>
            <input id="answer" type="text" formControlName="answerText">
            <button class="buttons" type="button" (click)="submitAnswer(message.id)">Отправить ответ</button>
          </div>
        </td-->
      </tr>
    </table>
  </div>

  <div>
    <label>Введите сообщение</label>
    <quill-editor formControlName="messageText"></quill-editor>
    <button id="send" class="buttons" type="submit">Отправить</button>
  </div>
  <div>
    <button id="topics" class="buttons" type="button" [routerLink]="['/forum']">Темы форума</button>
  </div>
</form>

