#message{
  font-size: 20px;
  font-weight: 500;
  height: 140px;
  margin-left: 40px;
  margin-right: 40px;
  position:relative;
  margin-top:20px;
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
  padding-top:80px;
  width:93.5%;
  border: 2px solid mediumpurple;
  border-radius: 7px;
}
#button{
  background-color: #d1cfe3;
  margin-top:3px;
  margin-left:1150px;
  position:relative;
}
