<form [formGroup]="form" (ngSubmit)="submitMessage()">
  <div class="messages">
    <table>
      <tr *ngFor="let message of messages">
        <td>
          <quill-view-html [content]="message.text"></quill-view-html>
        </td>
        <td>{{message.date | date:'medium':null:'ru'}}</td>
        <td>
          <table>
            <tr *ngFor="let answer of message.answers">
              <td>{{answer.text}}</td>
              <td>{{answer.date | date: 'medium': null: 'ru' }}</td>
            </tr>
          </table>
        </td>
        <td>
          <button type="button" (click)="showAnswerField(message.id)">Ответить</button>

          <div *ngIf="message.id == answer">
            <label for="answer">Введите ответ</label>
            <input id="answer" type="text" formControlName="answerText">
            <button type="button" (click)="submitAnswer(message.id)">Отправить ответ</button>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <label>Написать сообщение</label>
    <quill-editor formControlName="messageText"></quill-editor>
    <button id="button" type="submit">Отправить</button>
  </div>
</form>

