$photo_width: 200px;
$number_works_width: 36%;
#number_works {
  font-size: 15px;
  font-weight: 500;
  height: 180px;
  width: $number_works_width;
  margin-top: -20px;
  margin-left: 20px;
  text-align: center;
  padding-top: 100px;
}

#average {
  font-size: 15px;
  font-weight: 500;
  height: 180px;
  width: $number_works_width;
  margin-top: -277px;
  margin-left: 53%;
  text-align: center;
  padding-top: 100px;
}

google-chart {
  width: 680px;
  height: 250px;
}
