#comment{
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
  width:80%;
  margin-left: 100px;
  height:70px;
}
#send{
  border-radius:15px;
  background-color:#d1cfe3;
  border-color: mediumpurple;
  color:darkslategrey;
  height:40px;
  margin-left:1020px;
  margin-top:3px;
}
