$header_height: 9%;
$sidebar_width: 6%;

.container {
  width: 100%;
  height: 100%;
}

#page-content:not(.auth) {
  //background-color: yellow;
  // height: 99.9% - $header_height;
  width: 99.9% - $sidebar_width;
  float: right;
  background-color: #e2d6e8;
  height: 100%;
}

.auth {
  width: 99.9%;
}
