<h2 id = 'title'>Топ лучших работ</h2>
<table id="table">
  <tr>
    <td><a routerLink="/other-page"> <img src="assets/resources/photo.png" height="40px" width="40px"></a> </td>
    <td class="work"><a routerLink="/watching-work/other-works">вид работы(ссылка на работу)</a></td>
  </tr>
  <tr>
    <td> <a routerLink="/other-page"><img src="assets/resources/photo.png" height="40px" width="40px"> </a></td>
    <td class="work"><a routerLink="/watching-work/other-works">вид работы(ссылка на работу)</a></td>
  </tr>
  <tr>
    <td> <a routerLink="/other-page"><img src="assets/resources/photo.png" height="40px" width="40px"></a> </td>
    <td class="work"><a routerLink="/watching-work/other-works">вид работы(ссылка на работу)</a></td>
  </tr>
  <tr>
    <td><a routerLink="/other-page"> <img src="assets/resources/photo.png" height="40px" width="40px"></a> </td>
    <td class="work"><a routerLink="/watching-work/other-works">вид работы(ссылка на работу)</a></td>
  </tr>
  <tr>
    <td> <a routerLink="/other-page"><img src="assets/resources/photo.png" height="40px" width="40px"> </a></td>
    <td class="work"><a routerLink="/watching-work/other-works">вид работы(ссылка на работу)</a></td>
  </tr>
  <tr>
    <td> <a routerLink="/other-page"><img src="assets/resources/photo.png" height="40px" width="40px"></a> </td>
    <td class="work"><a routerLink="/watching-work/other-works">вид работы(ссылка на работу)</a></td>
  </tr>
</table>
<a routerLink="/statistics"><button id="statics">Статистика</button></a>
