<form [formGroup]="form" (ngSubmit)="submit()" id="form">
  <div class="container">
    <h2>Авторизация</h2>
    <p><a routerLink="/registration">Зарегистрироваться</a></p>
    <p><a routerLink="/main">Вернуться на главную</a></p>
    <p><label for="login">Логин</label></p>
    <input type="text" placeholder="" id="login" required formControlName="login">

    <p><label for="password">Пароль</label></p>
    <input type="password" placeholder="" id="password" required formControlName="password">

    <div>
      <button class="buttons">Войти</button>
    </div>
    <div class="error" *ngIf="auth.errors$ | async as error">
      {{error}}
    </div>

  </div>
</form>
