#text {
  font-size: 20px;
  font-weight: 500;
  height: 140px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  margin-top: 20px;
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
  padding-top: 80px;
  border: 2px solid mediumpurple;
}

.work {
  font-size: 20px;
  font-weight: 500;
  height: 140px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  margin-top: 20px;
  text-align: left;
  vertical-align: auto;
  background-color: #d1cfe3;
  color: darkslategrey;
  width: 93.5%;
  border: 2px solid mediumpurple;
}

.button {
  background-color: #d1cfe3;
  position: relative;
  margin-top: 20px;
  margin-left: 950px;

}

.success {
  color: green;
  text-align: center;
  font-size: 18px;
}

.error {
  color: red;
  text-align: center;
  font-size: 18px;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  margin-top: 25px;
}

.title-work {
  margin-left: 44%;
}

.description {
  font-size: 20px;
  font-weight: 500;
  height: 70px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top:10%;
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
  padding-top: 30px;
}

#contactChoice1 {
  margin-left: 40px;
  position: relative;
  margin-top: 20px;
  font-size: 25px;
  color: purple;
}

#contactChoice2 {
  margin-left: 100px;
  font-size: 25px;
}

#contactChoice3 {
  margin-left: 120px;
  font-size: 25px;
}
