.landing_elements {
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
  height: 150px;
  width: 150px;
  margin-top: 75px;
  margin-left: 75px;
  text-align: center;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #d1cfe3;
  color: darkslategrey;
}

#hello {
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-family: monospace;
  font-size: 20px;
  font-weight: 500;
  color: darkslategrey;
}

.container {
  height: 90.9%;
  width: 93.9%;
}

#events {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 75px;
}

.landing_elements {
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
  height: 150px;
  width: 150px;
  margin-top: 75px;
  margin-left: 75px;
  text-align: center;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #d1cfe3;
  color: darkslategrey;
}

#information {
  margin-left: 700px;
  margin-top: -536px;
  width: 40%;
  height: 60%;
}

.landing_elements {
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
  height: 150px;
  width: 150px;
  margin-top: 75px;
  margin-left: 75px;
  text-align: center;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #d1cfe3;
  color: darkslategrey;
}

#watch-work {
  position: relative;
  margin-left: 325px;
  margin-top: -270px;
}

.landing_elements {
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
  height: 150px;
  width: 150px;
  margin-top: 75px;
  margin-left: 75px;
  text-align: center;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #d1cfe3;
  color: darkslategrey;
}

#writing-work {
  position: relative;
  margin-left: 325px;
  margin-top: -225px;
}

.landing_elements {
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
  height: 150px;
  width: 150px;
  margin-top: 75px;
  margin-left: 75px;
  text-align: center;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #d1cfe3;
  color: darkslategrey;
}
