<div class="container">
  <div id="hello" >Дорогой друг! Здесь ты сможешь прокачать свои лингвистические навыки! Вперед!</div>
  <a routerLink="/doing-work">
    <div id="write-work" class="landing_elements">Написать работу</div>
  </a>
  <a routerLink="/watching-work">
    <div id="watch-work" class="landing_elements" >Просмотреть работы</div>
  </a>
  <div id="events" class="landing_elements">Мероприятия</div>
  <div id="information"><img src="/assets/resources/news.png" alt="news"/></div>
</div>
