<div id="photo1">
  <img src="assets/resources/photo.png" alt="photo" height="220px" width="220px">
</div>
<div id="fio">ФИО</div>
<div id="info">О себе</div>
<div id="watch">
  <a routerLink="/assignment">
    <button class="buttons">Просмотреть работы</button>
  </a>
</div>
<div id="troubles">
  <p *ngIf="!condition">
    <input id="text" type="textArea"/>
  <button class="buttons" onclick="alert('Сообщение отправлено!Мы скоро с вами свяжемся.')">Отправить</button>
  </p>
  <button (click)="toggle()" class="buttons">Пожаловаться</button>
</div>
