<div class="sidebar">
  <div class="vertical-button-panel">
    <div>
      <a (click)="isAuth()" class="lk1" data-title="Личный кабинет">
        <img src="assets/resources/lk.png" width="55px" height="55px"
             alt="личный кабинет"/>
      </a>
    </div>
    <div><a routerLink="/doing-work" class="do_work" data-title="Написать работу">
      <img src="assets/resources/write-work.png" width="55px" height="55px"
           alt="написать работу"/></a>
    </div>
    <div><a routerLink="/watching-work" class="watch_work" data-title="Просмотреть работы">
      <img src="assets/resources/works.png" height="55px" width="55px" alt="просмотреть работы"/>
    </a>
    </div>
    <div><a routerLink="/rating" class="rating" data-title="Рейтинг">
      <img src="assets/resources/results.png" height="55px" width="55px" alt="рейтинг">
    </a>
    </div>
    <div><a routerLink="/forum" class="forum" data-title="Форум">
      <img src="assets/resources/forum.png" height="55px" width="55px" alt="сообщения"/>
    </a>
    </div>
    <div><a routerLink="/moderator-page" class="info" data-title="Страница модератора">
      <img src="assets/resources/info.png" height="55px" width="55px" alt="справка">
    </a>
    </div>
  </div>
</div>
