<div id="number_works">
  <google-chart #chart1
                [title]="number_works.title"
                [type]="number_works.type"
                [data]="number_works.data"
                [columnNames]="number_works.columnNames"
                [options]="number_works.options"
  >
  </google-chart>
</div>
<div id="analyze">
  <google-chart #chart2
                [title]="analyze.title"
                [type]="analyze.type"
                [data]="analyze.data"
                [columnNames]="analyze.columnNames"
                [options]="analyze.options"
  >
  </google-chart>
</div>
<div id="translate">
  <google-chart #chart3
                [title]="translate.title"
                [type]="translate.type"
                [data]="translate.data"
                [columnNames]="translate.columnNames"
                [options]="translate.options"
  >
  </google-chart>
</div>
<div id="short_desc">
  <google-chart #chart4
                [title]="short_desc.title"
                [type]="short_desc.type"
                [data]="short_desc.data"
                [columnNames]="short_desc.columnNames"
                [options]="short_desc.options"
  >
  </google-chart>
</div>
