<div id="number_works">
  <google-chart #chart1
                [title]="commentStats.title"
                [type]="commentStats.type"
                [data]="commentStats.data"
                [columnNames]="commentStats.columnNames"
                [options]="commentStats.options"
  >
  </google-chart>
</div>
<div id="analyze">
  <google-chart #chart2
                [title]="analysisStats.title"
                [type]="analysisStats.type"
                [data]="analysisStats.data"
                [columnNames]="analysisStats.columnNames"
                [options]="analysisStats.options"
  >
  </google-chart>
</div>
<div id="translate">
  <google-chart #chart3
                [title]="translationStats.title"
                [type]="translationStats.type"
                [data]="translationStats.data"
                [columnNames]="translationStats.columnNames"
                [options]="translationStats.options"
  >
  </google-chart>
</div>
<div id="short_desc">
  <google-chart #chart4
                [title]="retellingStats.title"
                [type]="retellingStats.type"
                [data]="retellingStats.data"
                [columnNames]="retellingStats.columnNames"
                [options]="retellingStats.options"
  >
  </google-chart>
</div>
