$number_works_width: 48%;
#number_works {
  height: 180px;
  width: $number_works_width;
  margin-top: 7%;
  margin-left: 20px;
}

google-chart {
  width: 580px;
  height: 250px;
}

#analyze {
  margin-left: 50%;
  position: relative;
  margin-top: -10%;
}

#translate {
  margin-left: 20px;
  margin-top: 2%;
}

#short_desc {
  margin-top: -12%;
  margin-left: 50%;
  position: relative;
}
