#title {
  font-weight: normal;
  margin-left: 50%;
}
#table{
  border-spacing:20px;
  margin-left:150px;
  width:85%;
}
.work {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
}
#statics{
  margin-left:1120px;
  border-radius:15px;
  background-color:#d1cfe3;
  border-color: mediumpurple;
  color:darkslategrey;
  height:40px;
}
