<div>
  <h3>Рейтинг</h3>
  <h2 id='title'>Топ лучших работ</h2>
  <table id="table">
    <tr *ngFor="let pageWork of works">
      <td>
        <a routerLink="/other-page"> <img [src]="pageWork.user.avatarUrl" height="40px" width="40px"></a>
      </td>
      <td class="work"><a routerLink="/watching-work/other-works">{{pageWork.work.title}}</a>
      <td class="work"><a routerLink="/watching-work/other-works">Рейтинг: {{pageWork.work.rating}}</a>
    </tr>
  </table>
  <a routerLink="/statistics">
    <button id="statics">Статистика</button>
  </a>
</div>
