<div class="description">На этой странице вы можете просмотреть уже написанные работы</div>
<table id="table">
  <tr>
    <td *ngFor="let viewWorks of works.works">
      <div class="work" (click)="setWorkId(viewWorks.workId)">
        <a routerLink="/assignment">
        <div class="title">
          <h4>{{viewWorks.title}}</h4>

          <h5>Тип текста:{{viewWorks.type}}</h5>
        </div>
        <div class="text">Работа:{{viewWorks.text}}</div>
        <div>{{viewWorks.workId}}</div>
        </a>
      </div>
    </td>
  </tr>

</table>
