#work1,#work2,#work3,#work4,#work5,#work6,#work7,#work8{
  font-size: 15px;
  font-weight: 500;
  height: 55px;
  width: 150px;
  text-align: center;
  background-color: #d1cfe3;
  color: darkslategrey;
  padding-top: 100px;
}

#table{
  width: 100%;
  margin-top:50px;
}
