<table id="table">
  <tr>
    <td>
      <div id="work1">Работа 1</div>
    </td>
    <td>
      <div id="work2">Работа 2</div>
    </td>
    <td>
      <div id="work3">Работа 3</div>
    </td>
    <td>
      <div id="work4">Работа 4</div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="work5">Работа 5</div>
    </td>
    <td>
      <div id="work6">Работа 6</div>
    </td>
    <td>
      <div id="work7">Работа 7</div>
    </td>
    <td>
      <div id="work8">Работа 8</div>
    </td>
  <tr>
</table>
