<table id="table">
  <tr>
    <td>
      <a routerLink="/assignment"> <div id="work1">Работа 1</div></a>
    </td>
    <td>
      <a routerLink="/assignment"> <div id="work2">Работа 2</div></a>
    </td>
    <td>
      <a routerLink="/assignment"><div id="work3">Работа 3</div></a>
    </td>
    <td>
      <a routerLink="/assignment"> <div id="work4">Работа 4</div></a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/assignment"><div id="work5">Работа 5</div></a>
    </td>
    <td>
      <a routerLink="/assignment"> <div id="work6">Работа 6</div></a>
    </td>
    <td>
      <a routerLink="/assignment"> <div id="work7">Работа 7</div></a>
    </td>
    <td>
      <a routerLink="/assignment"> <div id="work8">Работа 8</div></a>
    </td>
  <tr>
</table>
