<div>
  <h3>Просмотр чужих работ</h3>
  <div class="description">На этой странице вы можете просмотреть уже написанные работы</div>
  <table id="table">
    <tr>
      <td *ngFor="let work of works">
        <div class="work" (click)="onWorkClick(work.workId)">
            <div class="title">
              <h4>{{work.title}}</h4>
              <h5> Автор:{{work.authorId}}</h5>
              <h5>Рейтинг работы:{{work.rating}}</h5>
            </div>
            <div class="text">Работа:{{work.text}}</div>
        </div>
      </td>
    </tr>

  </table>
</div>
