<div class="description">На этой странице вы можете просмотреть уже написанные работы</div>
<div>
  <!--select name="select2" id="select2">
      <option value="анализ">анализ</option>
      <option value="перевод">перевод</option>
      <option value="комментарий">комментарий</option>
      <option value="краткий пересказ">краткий пересказ</option>
  </select>
  <select name="select3" id="select3">
      <option value="Экономика">500</option>
      <option value="Спорт">600</option>
      <option value="Политика">800</option>
      <option value="Хореография">1000</option>
  </select-->

</div>
