#form {
  margin-left: 48%;
  border-radius: 10px;
  border-color: mediumpurple;
}

.buttons {
  background-color: #d1cfe3;
  border-color: mediumpurple;
  color: darkslategrey;
  height: 40px;
  border-radius: 10px;
  margin-left: 45px;
  margin-top: 70px;
}

.vertical-button-panel {
  width: fit-content;
  margin: auto;
  background-color: #9974a7;
}
